# @format

spring:
    config:
        activate:
            on-profile: local
    # H2 Database 설정 (개발/테스트용)
    datasource:
        url: jdbc:h2:mem:aasdb;DB_CLOSE_DELAY=-1;DB_CLOSE_ON_EXIT=FALSE
        driver-class-name: org.h2.Driver
        username: sa
        password:
    h2:
        console:
            enabled: true
            path: /h2-console
    jpa:
        hibernate:
            ddl-auto: create-drop
        show-sql: true
        properties:
            "[hibernate.format_sql]": true
            "[hibernate.dialect]": org.hibernate.dialect.H2Dialect

server:
    address: 0.0.0.0
    port: 6443
    servlet:
        multipart:
            enabled: true
            max-file-size: 200MB
            max-request-size: 500MB
            # location: /opt/_was_file_and_logs/_files/_tomcat_mobile
